<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="msmq" value=".\private$\myQueue" />
    <add key="Jwt:Site" value="https://localhost" />
    <add key="Jwt:ExpiryInMinutes" value="60" />
    <add key="Jwt:SigningKey" value="-----BEGIN RSA PRIVATE KEY----- MIICXgIBAAKBgQCxDu+T9buFyPwZZ1kC68RD6SzolDdDmT01G48lYe2ewasjWQXq MWxdzk9RoHVxveJfcaB3KdLu0J6HWLHuXGM3YIxRt+bAhfZ08ttPOEEKbTknjHQE QncI4FGR5m8tF13vGMFFsdqBkW5+TWIZgsf1gOvTM3pFkkja0oFzQsTvEQIDAQAB AoGBAKlv3Zz+P6HboES/PdMpw/wpHCzGCczKzGQSJ35ipH6UXy3Id3ySJ13tnMJE h599UzB7EFB42b5oLgzfuAaequIq/SqQ3PYW9IuCV2wLzjR44y1LvNN3Di2sN5JF SP1Y9C0/E1po6np0zAPnjWh1fPtdrSR5ce4Wy20r3q89QVgBAkEA+as75s2ofgtN jaOkh9OEcfFmOCe61XD4dyLGST9y8U06xjVTqeJUScrjHAsqDUL+dcVMk++AMmnz H26rE/UQMQJBALWMVroYKt+P+H2l2g8BF0Bt0npImZxup9KvvYlA5JvYnDWtVEoT ftbKBaql6WwgCnI5cNToNzDoDHSrg4Jj9OECQARjfioQc2XDzRkwRzQcA7f9Bk72 Y9JcqgFuGw4uj1auhNn3FgFmeRTS/CsCBzs0ckSfszjmfNpmAmALEfbH2AECQQC0 xFrqivvNhMXxHf3kqLplLbTAi59gMpIp51C65IF8aA8KJ17hL05BQgCobPDh93lP SMB/TgT+Tl9woAKfBzYhAkEA93FSqE4oSphItCluy5QpCfnGQNqCkwtxK7vUUjJa IaklJ/XBppgUOD/q9PJy/wsdjgR2zH5e/slWQGAAh6x8UQ== -----END RSA PRIVATE KEY-----" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
